<section>
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <!-- Video slider -->
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="<%= common.assets %>/bridge-timelapse.jpg" alt="Ocean" class="rev-slidebg"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                        data-bgparallax="10">

                    <!-- LAYER NR. 1 -->
                    <div class="rs-background-video-layer rs-parallaxlevel-14" data-videomp4="<%= common.assets %>/bridge-timelapse.mp4"
                        data-volume="mute" data-forcerewind="on" data-nextslideatend="true"
                        data-videoloop="loopandnoslidestop" data-autoplay="true" data-bgfit="cover"></div>

                    <div class="tp-caption tp-resizeme" data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, 
                   {"delay": "wait", "speed": 300, "to": "opacity: 0"}]' data-type="image"
                        data-x="center" data-y="center" data-hoffset="0" data-voffset="0"
                                                                         data-width="['auto']" data-height="['auto']"><img src="<%= common.assets %>/logo-white.png" alt="Logo" class="logo-img-main"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
