<header class="site-header classic relative">
    <div class="container">
        <div class="header-wrap clearfix">
            <div class="logo pull-left">
                <a href="/"> <img src="<%= common.assets %>/logo.png" alt="Logo" class="logo-img"> </a>
            </div>
            <nav class="site-navigation pull-right">
                <div class="mobile-wrap">
                    <ul id="main-menu" class="main-menu">
                        <li class="menu-item <% if(state === 'home') { %>current-menu-item<% } %>"><a href="/">Home</a></li>
                        <li class="menu-item <% if(state === 'about') { %>current-menu-item<% } %>"><a href="/about">About us</a></li>
                        <li class="menu-item <% if(state === 'services') { %>current-menu-item<% } %>"><a href="/services">Services</a></li>
                        <li class="menu-item <% if(state === 'projects') { %>current-menu-item<% } %>"><a href="/projects">Projects</a></li>
                        <li class="menu-item <% if(state === 'contact') { %>current-menu-item<% } %>"><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <button class="burger pull-right">
		<span class="burger-top"></span>
		<span class="burger-middle"></span>
		<span class="burger-bottom"></span>
	</button>
            </nav>
        </div>
    </div>
</header>
