<section>
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <!-- Slider 1 -->
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <!-- MAIN IMAGE --><img src="images/demo/slider-1.jpg" alt="" width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title " data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-start="500">Commercial</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="-75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn btn-wide">Our work</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="75" data-y="center"
                        data-voffset="['13','13','60','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light btn-wide">Contact us</a></div>
                </li>
                <!-- Slider 2 -->
                <li data-transition="slideright" data-masterspeed="400">
                    <!-- MAIN IMAGE --><img src="images/demo/slider-2.jpg" alt="" width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption rev-title text-uppercase" data-x="['left','left','left','center']"
                        data-hoffset="['40','40','40','0']" data-y="center" data-voffset="['-100','-100','-100','0']"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500"
                        data-transform_out="o:0;s:500" data-fontweight="['400','400','400','900']"
                        data-start="500" style="font-size: 48px; font-weight: normal;">Residential</div>
                    <!-- LAYER NR. 2 (mobile) -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="80" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="normal" data-visibility="['off','off','off','on']"
                        data-width="450" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" data-x="left" data-hoffset="40" data-y="center" data-voffset="-35"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500"
                        data-transform_out="o:0;s:500" data-start="500" data-visibility="['on','on','on','off']"
                        style="font-size: 16px; font-family: 'PT Sans', sans-serif;">
                        Residential info goes here
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="left" data-hoffset="40" data-y="center"
                        data-voffset="40" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn btn-wide">Projects</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="left" data-hoffset="190" data-y="center"
                        data-voffset="40" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light btn-wide">Contact us</a></div>
                </li>
                <!-- Slider 3 -->
                <li data-transition="slideright" data-masterspeed="400">
                    <!-- MAIN IMAGE --><img src="images/demo/slider-3.jpg" alt="" width="1920" height="1280">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text-uppercase rev-title" data-x="['left','left','left','center']"
                        data-hoffset="['40','40','40','0']" data-y="center" data-voffset="['-100','-100','-100','-20']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-fontweight="['400','400','400','900']" data-fontsize="['48','48','48','36']"
                        data-start="500" style="font-size: 48px; font-weight: normal;">
                        EV Installs
                    </div>
                    <!-- LAYER NR. 2 (mobile) -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="80" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="normal" data-visibility="['off','off','off','on']"
                        data-width="450" data-start="500">Electro Integrity</div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" data-x="left" data-hoffset="40" data-y="center" data-voffset="-35"
                        data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="o:1;s:500"
                        data-transform_out="o:0;s:500" data-start="500" data-visibility="['on','on','on','off']"
                        style="font-size: 16px; font-family: 'PT Sans', sans-serif;">
                        EV Installs info goes here
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme" data-x="left" data-hoffset="40" data-y="center"
                        data-voffset="40" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/projects" class="btn btn-wide">See our work</a></div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption tp-resizeme" data-x="left" data-hoffset="190" data-y="center"
                        data-voffset="40" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-visibility="['on','on','on','off']" data-start="500"><a href="/contact" class="btn btn-light btn-wide">Contact us</a></div>
                </li>
            </ul>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!-- END OF SLIDER WRAPPER -->
</section>
