<section>
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <!-- Video slider -->
                <li data-transition="slideright" data-masterspeed="400" data-fstransition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="<%= common.assets %>/bridge-timelapse.jpg" alt="Ocean" class="rev-slidebg"
                        data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                        data-bgparallax="10">

                    <!-- LAYER NR. 1 -->
                    <div class="rs-background-video-layer rs-parallaxlevel-14" 
                         data-videomp4="<%= common.assets %>/bridge-timelapse.mp4"
                         data-volume="mute" 
                         data-forcerewind="on" 
                         data-nextslideatend="true"
                         data-videoloop="loopandnoslidestop" 
                         data-autoplay="true" 
                         data-bgfit="cover"></div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text-uppercase rev-title" data-x="center" data-hoffset=""
                        data-y="center" data-voffset="['-100','-100','-50','0']" data-whitespace="nowrap"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-start="500" data-paddingright="[0, 0, 0, 10]" data-visibility="['on','on','on','on']"
                        data-fontweight="['400','400','400','900']" data-fontsize="['68','48','48','36']"
                        data-start="500" style="font-size: 48px; font-weight: normal;">Electro Integrity</div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption text-uppercase text-center rev-subtitle" data-x="center"
                        data-hoffset="" data-y="center" data-voffset="['-45','-45','10','80']"
                        data-transform_idle="o:1;" data-transform_in="o:1;s:500" data-transform_out="o:0;s:500"
                        data-whitespace="['no-wrap','no-wrap','no-wrap','normal']"
                        data-width="['900','700','600','450']" data-visibility="['on','on','on','off']"
                        data-start="500">Quality Service On Time</div>

                </li>
            </ul>
        </div>
    </div>
</section>
