<section class="section padding-small">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="title text-uppercase">About Electro Integrity</h3>
                <p>
                    Electro-Integrity has provided the San Francisco Bay Area with no-hassle electricity
                    solutions for over 16 years. Whether you need to install electrical
                    systems in a new building or rewire / upgrade existing electrical
                    systems, Electro Integrity provides prompt service, dependable
                    advice and expertise you can count on.
                </p>
                <p>Electro Integrity works hard to maintain the highest levels of
                    customer satisfaction. You will work one on one with an expert
                    electrician who will address your questions and concerns. The
                    safety and the well-being of our customers is always our highest
                    priority. Electro Integrity offers extensive knowledge of electrical
                    theory, the national electrical code, and local electric and
                    building codes. Your project will be done by licensed and certified
                    electricians in accordance with the local electrical codes
                    and regulations.
                </p>
            </div>
            <div class="col-sm-6"> <img class="shadow" src="images/demo/our-offices.jpg" alt="Our offices">                </div>
        </div>
    </div>
</section>
