<section class="section no-top-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title text-uppercase">Our Experienced Team</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team team-col-3">
                    <div class="member">
                        <div class="member-wrap">
                            <div class="member-image">
                                <a href="member.html"><img src="images/demo/team-1.jpg" alt="John Builder"></a>
                            </div>
                            <a href="member.html">
                                <h3 class="member-name">John Builder</h3>
                            </a> <span class="member-title">CEO and founjder of Counstruction ltd.</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed convallis lacinia enim vel blandit. In
                                placerat, ex nec sodales elementum.</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-wrap">
                            <div class="member-image">
                                <a href="member.html"><img src="images/demo/team-2.jpg" alt="Steve Planer"></a>
                            </div>
                            <a href="member.html">
                                <h3 class="member-name">Steve Planer</h3>
                            </a> <span class="member-title">Construction engineer</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed convallis lacinia enim vel blandit. In
                                placerat, ex nec sodales elementum.</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-wrap">
                            <div class="member-image">
                                <a href="member.html"><img src="images/demo/team-3.jpg" alt="Mark Teran"></a>
                            </div>
                            <a href="member.html">
                                <h3 class="member-name">Mark Teran</h3>
                            </a> <span class="member-title">Project leader</span>
                            <p class="member-desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed convallis lacinia enim vel blandit. In
                                placerat, ex nec sodales elementum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
