<main class="site-main">
  <!-- HEADER -->
  <% include ../common/page-header %>
  <!-- BREADCRUMB -->
  <% include ../common/breadcrumb %>
  <!-- INFO -->
  <% include section-info %>
  <!-- MAP -->
  <% include section-map %>
</main>
