<section class="section no-top-padding no-bottom-padding">
    <div class="row">
        <div class="col-sm-12">
            <!-- Google Maps Element -->
            <div id="electroIntegrityMap" style="width:100%;height:600px;"></div>
            <!-- /Google Maps Element -->
        </div>
    </div>
</section>
