<div class="breadcrumb">
    <div class="container">
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="active">Project Details</li>
        </ol>
    </div>
</div>

