<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Image Widget -->
                <div class="widget widget-image">
                    <h3 class="widget-title">About Us</h3> <img src="images/demo/logo-footer.png" alt="Construction">                    </div>
                <!-- /Image Widget -->
                <!-- Text Widget -->
                <div class="widget widget-text">
                    <p style="height: 7px;" class="visible-lg visible-md">&nbsp;</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                        est tellus, venenatis sed nisi in, egestas bibendum sem.
                        Nam tempus dolor quis interdum auctor.</p>
                </div>
                <!-- /Text Widget -->
            </div>
            <div class="col-md-3">
                <!-- Navigation Widget -->
                <div class="widget widget-nav-menu">
                    <h3 class="widget-title">Navigation</h3>
                    <ul class="menu">
                        <li class="current-page"><a href="index.html">Home</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
                <!-- /Navigation Widget -->
            </div>
            <div class="col-md-3">
                <!-- Contact Info Widget -->
                <div class="widget widget-contact-info">
                    <h3 class="widget-title">Construction HQ</h3>
                    <ul class="contact-info">
                        <li><i class="fa fa-map-marker"></i> 300 Pennsylvania Ave NW,
                            Washington, DC 20006, USA</li>
                        <li><i class="fa fa-phone"></i> <a href="#" class="important">158-985-66-22</a></li>
                        <li><i class="fa fa-fax"></i> <a href="#">158-985-66-33</a></li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:mail@domain.com">mail@domain.com</a></li>
                    </ul>
                </div>
                <!-- /Contact Info Widget -->
            </div>
            <div class="col-md-3">
                <!-- Text Widget -->
                <div class="widget widget-text">
                    <h3 class="widget-title">Working Hours</h3>
                    <p>Visit us at our HQ for a mean cup of coffe and a fantastic
                        consulting team.</p>
                </div>
                <!-- /Text Widget -->
                <!-- Working Hours Widget -->
                <div class="widget">
                    <table class="working-hours">
                        <tbody>
                            <tr>
                                <th>Monday > Friday:</th>
                                <td>9am > 5pm</td>
                            </tr>
                            <tr>
                                <th>Saturday:</th>
                                <td>9am > 1pm</td>
                            </tr>
                            <tr>
                                <th>Sunday:</th>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /Working Hours Widget -->
            </div>
        </div>
    </div>
    <!-- Copyright Footer -->
    <div class="copyright-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Text Widget -->
                    <div class="widget widget-text">
                        <p>Copyright © 2015 Construction WordPress Theme - Theme by
                            <a href="http://www.anpsthemes.com/" target="_blank">Anpsthemes.com</a></p>
                    </div>
                    <!-- /Text Widget -->
                </div>
                <div class="col-md-6 text-right">
                    <!-- Social Widget -->
                    <div class="widget widget-social">
                        <ul class="social">
                            <li><a href="https://twitter.com/anpsthemes"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/anpsthemes"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://profiles.wordpress.org/anpsthemes/"><i class="fa fa-wordpress"></i></a></li>
                        </ul>
                    </div>
                    <!-- /Social Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Copyright Footer -->
</footer>
