<main class="site-main">
  <!-- HEADER -->
  <% include ../common/page-header %>
  <!-- BREADCRUMB -->
  <% include ../common/breadcrumb %>
  <!-- INTRO -->
  <% include section-intro %>
  <!-- PROJECTS -->
  <% include section-projects %>
</main>
