<section class="section no-bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title text-uppercase margin-bottom-small">Our Projects</h3>
                <p>We have completed an array of Residential, Commercial and Electric
                    Vehicle Install projects over the past 15 years. You can check
                    out some of our completed work here or <a href="/contact">contact us</a>                    for more information.</p>
            </div>
        </div>
    </div>
</section>
