<main class="site-main">
  <!-- SLIDER -->
  <% include ../header/header-slider %>
  <!-- CTA TWO -->
  <% include ../common/cta %>
  <!-- FEATURES -->
  <% include section-features %> 
  <!-- SERVICES AND SOLUTIONS -->
  <% include section-services-and-solutions %>
  <!-- CTA -->
  <% include section-cta %>
  <!-- ABOUT -->
  <% include section-about %>
  <!-- TESTIMONIALS -->
  <% include section-testimonials %>
  <!-- CTA TWO -->
  <% include ../common/cta %>
</main>
