<section id="features" class="bg-gray section padding-after">
    <div class="container">
        <div class="row margin-top-100 margin-bottom-50">
            <div class="col-md-4">
                <div class="featured featured-image">
                    <div class="featured-header">
                        <a href="/services"> <img src="<%= common.assets %>/features-residential.jpg" alt="Residential Electrical"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Residential Electrical</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Learn More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured featured-image">
                    <div class="featured-header">
                        <a href="/services"> <img src="<%= common.assets %>/features-commercial.jpg" alt="Commercial Electrical"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Commercial Electrical</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convlis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum</p>
                        <a href="/services" class="btn btn-md btn-gradient btn-shadow">Learn More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured featured-image">
                    <div class="featured-header">
                        <a href="/services"> <img src="<%= common.assets %>/features-ev-installs.jpg" alt="Electric Vehicle Installs"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Electric Vehicle Installs</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="/services" class="btn btn-md btn-gradient btn-shadow">Learn More</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
