<section id="services-and-solutions" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Services & Solutions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-building-o"></i> </div>
                        <h3 class="icon-title text-uppercase">Planning</h3>
                    </div>
                    <p class="icon-desc">
                        Projects planned to perfection.
                    </p>
                </div>
                <!-- /Icon -->
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-institution"></i> </div>
                        <h3 class="icon-title text-uppercase">Management</h3>
                    </div>
                    <p class="icon-desc">
                        Our management style is thorough and transparent.
                    </p>
                </div>
                <!-- /Icon -->
            </div>
            <div class="col-md-6">
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-object-group"></i> </div>
                        <h3 class="icon-title text-uppercase">Construction</h3>
                    </div>
                    <p class="icon-desc">
                        Quality craftsmanship delivered on time and in budget.
                    </p>
                </div>
                <!-- /Icon -->
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-truck"></i> </div>
                        <h3 class="icon-title text-uppercase">Maintenance</h3>
                    </div>
                    <p class="icon-desc">
                        Excellent follow up and post construction support.
                    </p>
                </div>
                <!-- /Icon -->
            </div>
        </div>
    </div>
</section>
