<section class="bg-gray section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-certificate"></i> </div>
                        <h3 class="icon-title">Certified U.S. Contractor</h3>
                    </div>
                    <p class="icon-desc">Lorem ipsum dolor sit amet, consectetur adiping elit. Etiam
                        placerat odio nec quam aliquet, velsa consectetur neque
                        varius.</p>
                </div>
                <!-- /Icon -->
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-star"></i> </div>
                        <h3 class="icon-title">Fully licensed and insured</h3>
                    </div>
                    <p class="icon-desc">Lorem ipsum dolor sit amet, consectetur adiping elit. Etiam
                        placerat odio nec quam aliquet, velsa consectetur neque
                        varius.</p>
                </div>
                <!-- /Icon -->
            </div>
            <div class="col-md-4">
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-user"></i> </div>
                        <h3 class="icon-title">Dedicated Team</h3>
                    </div>
                    <p class="icon-desc">Lorem ipsum dolor sit amet, consectetur adiping elit. Etiam
                        placerat odio nec quam aliquet, velsa consectetur neque
                        varius.</p>
                </div>
                <!-- /Icon -->
                <!-- Icon -->
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-leaf"></i> </div>
                        <h3 class="icon-title">BBB approved</h3>
                    </div>
                    <p class="icon-desc">Lorem ipsum dolor sit amet, consectetur adiping elit. Etiam
                        placerat odio nec quam aliquet, velsa consectetur neque
                        varius.</p>
                </div>
                <!-- /Icon -->
            </div>
            <div class="col-md-4"> <img class="shadow" src="<%= common.assets %>/home-about.jpg" alt="About Us">                </div>
        </div>
    </div>
</section>
