<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Testimonials</h2>
                <div class="testimonials">
                    <ul class="testimonial-wrap owl-carousel">
                        <li class="clearfix">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Aliquam viverra non felis eget congue. Sed
                                aliquet ligula sed egestas tincidunt. In vitae
                                quam ut augue bibendum iaculis. Donec rhoncus molestie
                                orci at blandit</p>
                            <div class="user pull-left"> <img class="pull-left user-photo" src="images/demo/hosearmando.jpg"
                                    alt="Harris Raybuilder">
                                <div class="user-data pull-left">
                                    <h3 class="name-user">Harris Raybuilder</h3>
                                    <div class="rating fontawesome"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i
                                            class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Aliquam viverra non felis eget congue. Sed
                                aliquet ligula sed egestas tincidunt. In vitae
                                quam ut augue bibendum iaculis. Donec rhoncus molestie
                                orci at blandit</p>
                            <div class="user pull-left"> <img class="pull-left user-photo" src="images/demo/hosearmando.jpg"
                                    alt="Harris Raybuilder">
                                <div class="user-data pull-left">
                                    <h3 class="name-user">Harris Raybuilder</h3>
                                    <div class="rating fontawesome"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="testimonial-owl-nav owl-nav pull-right"> <button class="owlprev"><i class="fa fa-angle-left"></i></button>                        <button class="owlnext"><i class="fa fa-angle-right"></i></button>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
