<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Testimonials</h2>
                <div class="testimonials">
                    <ul class="testimonial-wrap owl-carousel">
                        <li class="clearfix">
                            <p>Rapid response, quick quote at a fair price, fast scheduling,
                                great work. Strongly recommended! Todor and his
                                team installed a Level 2 fast charger in my garage
                                for my electric vehicle.</p>
                            <div class="user pull-left">
                                <div class="user-data pull-left">
                                    <h3 class="name-user">Thomas A. via <a href="https://www.yelp.com/biz/electro-integrity-san-francisco-5?hrid=GWhdeYrt9zRmbaMjEGNg0g&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)"
                                            target="_blank">Yelp</a></h3>
                                    <div class="rating fontawesome"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <p>These guys are great. Had them install a NEMA 14-50
                                outlet with a new breaker box for an EV. Todor
                                is professional, thorough, and easy to work with.
                                His team knows their stuff and does super clean
                                work. Would have them back for any job in the future.
                            </p>
                            <div class="user pull-left">
                                <div class="user-data pull-left">
                                    <h3 class="name-user">Ted M. via <a href="https://www.yelp.com/biz/electro-integrity-san-francisco-5?hrid=1YHPRoeDAswj8Ewin6DkvA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)"
                                            target="_blank">Yelp</a></h3>
                                    <div class="rating fontawesome"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <p>Todor and his team fixed a permit issue pronto and
                                he was an excellent communicator, too. High Five
                                to Electro-Integrity!
                            </p>
                            <div class="user pull-left">
                                <div class="user-data pull-left">
                                    <h3 class="name-user">Aquableu C. via <a href="https://www.yelp.com/biz/electro-integrity-san-francisco-5?hrid=G_jxmKmlBkFFpXJcV926iA&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)"
                                            target="_blank">Yelp</a></h3>
                                    <div class="rating fontawesome"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="testimonial-owl-nav owl-nav pull-right"> <button class="owlprev"><i class="fa fa-angle-left"></i></button>                        <button class="owlnext"><i class="fa fa-angle-right"></i></button>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
