<section class="jumbotron" style="background-image: url('<%= common.assets %>/cta-bg-light.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-uppercase">The right choice for reliable electrical service</h1>
                <a href="/contact" class="btn btn-normal btn-md">Contact Us Now</a>                </div>
        </div>
    </div>
</section>
