<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../components/home/home-content %>
        <% include ../partials/foot %>
</body>

</html>
