<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stickyheader">
    <div class="site">
        <!-- HEADER -->
        <% include ../components/header/header-secondary %>
            <!-- MAIN CONTENT -->
            <% include ../components/project/project-content %>
                <!-- FOOTER -->
                <% include ../components/footer/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>

