<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../components/projects/projects-content %>
        <% include ../partials/foot %>
</body>

</html>

