<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="stickyheader">
    <div class="site">
        <!-- TOPBAR -->
        <% include ../components/header/header-topbar %>
            <!-- HEADER -->
            <% include ../components/header/header-primary %>
                <!-- MAIN CONTENT -->
                <% include ../components/services/services-content %>
                    <!-- FOOTER -->
                    <% include ../components/footer/footer %>
    </div>
    <% include ../partials/foot %>
</body>

</html>
