<section class="section padding-small padding-bottom-big">
    <div class="container">
        <div class="row margin-bottom-75">
            <div class="col-md-12">
                <h3 class="title text-uppercase">Residential Services</h3>
            </div>
            <div class="col-md-12">
                <p>Electro-Integrity has operated in the Greater Bay Area for over
                    eight years. One of our specialties is service panel upgrade.
                    Service equipment is the heart of the electrical system in
                    your home. It is essential to have an up-to-date grounded electrode
                    system established with properly connected and bonded conductors.</p>
                <p>Electro-Integrity has completed over 200 service upgrades, most
                    of them in the city of San Francisco. A fact that gives us
                    the confidence to call ourselves "Service Upgrade Specialists".</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-1.jpg" alt="Construction"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Service and panel upgrades</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-2.jpg" alt="Smart Houses"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Kitchen remodeling / lighting / branch circuits</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-3.jpg" alt="Roofing"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Bathroom / Jacuzzis</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section no-top-padding padding-bottom-xl">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-4.jpg" alt="Renovations"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Architectural Lighting and Systems / Exterior Lighting</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-5.jpg" alt="Construction Consulting"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Emergency and Safety Lighting / Smoke Detectors</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-6.jpg" alt="Project Planning"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Electric Vehicle Installs</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
