<section class="section padding-small padding-bottom-big">
    <div class="container">
        <div class="row margin-bottom-75">
            <div class="col-md-12">
                <h3 class="title text-uppercase">Residential Services</h3>
            </div>
            <div class="col-md-12">
                <p>Electro-Integrity has completed over 200 service upgrades, most
                    of them in the city of San Francisco. A fact that gives us
                    the confidence to call ourselves Service Upgrade Specialists.
                    Check out our residential services here.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-home"></i> </div>
                        <h3 class="icon-title text-uppercase">Service and panel upgrades</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Service upgrade up to 400 amps.</li>
                            <li>Replace old fuse box with convenient and safe breaker
                                box.
                            </li>
                            <li>Sub-panel installation.</li>
                            <li>Bring your ground electrical system in compliance with
                                todays electrical codes and regulations.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-cogs"></i> </div>
                        <h3 class="icon-title text-uppercase">Kitchen remodeling / lighting / branch circuits</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Complete kitchen wiring.</li>
                            <li>Recessed lights, under-cabinet lights and chandeliers.</li>
                            <li>Accent lighting.</li>
                            <li>Additional designated 120 Volt or 240 Volt branch circuits.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-cog"></i> </div>
                        <h3 class="icon-title text-uppercase">Bathroom / Jacuzzis</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Complete bathroom wiring.</li>
                            <li>Electrical sky-lights.</li>
                            <li>Floor heat.</li>
                            <li>Branch circuits and complete wiring for jacuzzis (indoor
                                and outdoor).</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-lightbulb-o"></i> </div>
                        <h3 class="icon-title text-uppercase">Architectural lighting and systems / exterior lighting</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Lighting control systems.</li>
                            <li>Recessed lights in your bedroom, living room and office
                                on 3-way and 4-way circuits.</li>
                            <li>Landscape and exterior lights.</li>
                            <li>Underground circuits.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-fire"></i> </div>
                        <h3 class="icon-title text-uppercase">Emergency and safety lighting / smoke detectors</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Motion sensor exterior lights.</li>
                            <li>Emergency and exit signs for residential and commercial.</li>
                            <li>Linked smoked detectors.</li>
                            <li>Installation of all types of light fixtures.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-car"></i> </div>
                        <h3 class="icon-title text-uppercase">Electric Vehicle Installs</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Residential EV chargers.</li>
                            <li>Commercial EV chargers.</li>
                            <li>Custom EV install for your home or office.</li>
                            <li>High quality installs for home and business owners.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
