<section class="section padding-small padding-bottom-big">
    <div class="container">
        <div class="row margin-bottom-75">
            <div class="col-md-12">
                <h3 class="title text-uppercase">Commercial Services</h3>
            </div>
            <div class="col-md-12">
                <p>Commercial wiring is a broad topic of the electrical trade that
                    requires extensive knowledge of codes and regulations and involves
                    a wide variety of circuit complexities - restaurants, coffee
                    shops, hospitals, etc. Through the years Electro-Integrity
                    has worked on many commercial projects, from simple branch
                    circuits to complete commercial wiring. We have done numerous
                    "light" and "mid" scale commercial projects. Pets Unlimited,
                    Alioto's Garage, and Bay Medical Center are just a few of our
                    clients. Check out our commercial services here.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-building-o"></i> </div>
                        <h3 class="icon-title text-uppercase">Commercial wiring</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>New construction projects.</li>
                            <li>Tenant improvements.</li>
                            <li>Video intercom systems.</li>
                            <li>Security surveillance systems.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-wrench"></i> </div>
                        <h3 class="icon-title text-uppercase">Complete wiring</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Restaurants and café shops.</li>
                            <li>Spa and health centers.</li>
                            <li>Auto repair shops.</li>
                            <li>Offices and cubicles.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-md-6">
                <div class="icon">
                    <div class="icon-header">
                        <div class="icon-media"> <i class="fa fa-search"></i> </div>
                        <h3 class="icon-title text-uppercase">Wiring and inspection</h3>
                    </div>
                    <p class="icon-desc">
                        <ul>
                            <li>Main service and sub panel upgrades.</li>
                            <li>1 phase and 3-phase wiring (120/240, 208/120, 480Y/277).</li>
                            <li>Branch circuits.</li>
                            <li>Generator installations.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
