<section class="section padding-small padding-bottom-big">
    <div class="container">
        <div class="row margin-bottom-75">
            <div class="col-md-12">
                <h3 class="title text-uppercase">Commercial Services</h3>
            </div>
            <div class="col-md-12">
                <p>Commercial wiring is a broad topic of the electrical trade that
                    requires extensive knowledge of codes and regulations and involves
                    a wide variety of circuit complexities - restaurants, coffee
                    shops, hospitals, etc. Through the years Electro-Integrity
                    has worked on many commercial projects, from simple branch
                    circuits to complete commercial wiring. We have done numerous
                    "light" and "mid" scale commercial projects. Pets Unlimited,
                    Alioto's Garage, and Bay Medical Center are just a few of our
                    clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-1.jpg" alt="Construction"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Commercial wiring</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-2.jpg" alt="Smart Houses"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Complete wiring</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured">
                    <div class="featured-header">
                        <a href="#"> <img src="images/demo/services-3.jpg" alt="Roofing"> </a>
                    </div>
                    <div class="featured-content">
                        <h3 class="featured-title text-uppercase">Wiring and Inspection</h3>
                        <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Sed convallis lacinia enim vel blandit. In placerat,
                            ex nec sodales elementum.</p> <a href="services-single.html"
                            class="btn btn-md btn-gradient btn-shadow">Read More</a>                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
