<main class="site-main">
  <!-- HEADER -->
  <% include ../common/page-header %>
  <!-- BREADCRUMB -->
  <% include ../common/breadcrumb %>
  <!-- RESIDENTIAL SERVICES -->
  <% include section-residential-services %>
  <!-- COMMERCIAL SERVICES -->
  <% include section-commercial-services %>
</main>
