<main class="site-main">
  <!-- HEADER -->
  <% include ../common/page-header %>
  <!-- BREADCRUMB -->
  <% include ../common/breadcrumb-project %>
  <!-- PROJECT INFO -->
  <% include section-project-info %>
  <!-- PROJECTS IMGS -->
  <% include section-project-imgs %>
</main>

